header {
  background-color: darkturquoise;
  height: 90px;
}
.title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px 20px;
  float: left;
}

.header li {
  list-style: none;
  display: block;
  padding-top: 35px;
  font-weight: bold;
}

.main {
  background-image: url(img/first_edition.jpeg);
  background-size: cover;
  height: 500px;
}
a {
  color: white;
  font-size: 20px;
}

.footer {
  height: 100px;
  background-color: darkturquoise;
  margin-top: 35px;
}

.footer-logo {
  color: white;
  font-size: 26px;
  font-weight: bold;
  border-radius: 10px;
  padding: 30px 20px;
  float: left;
}
